<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MAILGUN_API_KEY" value="********" />
    <add key="SmtpServerPort" value="25" />
    <add key="SmtpServerUserName" value="******" />
    <add key="SmtpServerPassword" value="*****" />
  </appSettings>
</configuration>